extends layout

block content
  header.topbar.flexbox
    .contents.flexbox
      section.brand.flexbox
        .logo#logo
          img(src="/images/america_for_animals_transparent.png", alt="America for Animals logo")
        h1#title Humane Eating 
      section.navigation.flexbox#navbar
        li: a.nav-element(href="#") Find
        li: a.nav-element(href="#") Share
  section.container
    section.page-content.flexbox
      sidebar
        p Sidebar Content...
      article
        p Article Content...
    footer
      p#myfooter Footer Content...
  script.
    require(['javascripts/home'], function (home) {
      var title_m = new home.TitleModel({title: 'Humane Eating'});
      var title_v = new home.TitleView({
        model: title_m, 
        el: '#title'});
      var img_m = new home.ImageModel({
        src: '/images/america_for_animals_60x60.png',
        caption: 'America For Animals logo',
        hidden: false
      });
      var img_v = new home.ImageView({
        model: img_m,
        el: '#logo'
      });
    });
