extends layout

block content
  header.topbar.flexbox
    .contents.flexbox
      section.brand.flexbox
        .logo#logo
          img(src="/images/america_for_animals_transparent.png", alt="America for Animals logo")
        h1.title#title Humane Eating 
      section.navigation.flexbox#navbar
        li: a.nav-element(href="#") Find
        li: a.nav-element(href="#") Share
  section.container.stretch
    .stretch#map-canvas
    //p Hello World!
    //section.page-content.flexbox
    //  sidebar
    //    p Sidebar Content...
    //  article
    //    p Article Content...
    //footer
    //  p#myfooter Footer Content...
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTv8WOV2-xUrcaAe33gI0k8zlwHMpt5_k&sensor=false")
  script.
    require(['javascripts/home'], function (home) {
      var 
      title_m = new home.TitleModel({title: 'Humane Eating'}),
      img_m = new home.ImageModel({
        src: '/images/america_for_animals_60x60.png',
        caption: 'America For Animals logo',
        hidden: false
      }),
      coord_m = new home.CoordinatesModel({}),
      loc_m = new home.LocationModel({})
      title_v = new home.TitleView({
        model: title_m, 
        el: '#title'}),
      img_v = new home.ImageView({
        model: img_m,
        el: '#logo'
      });
      function initialize() {
        var map_options = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), map_options);
      }
      $(document).ready(function() {
        initialize();
        function logdata(data) {
          console.log(data);
        }
        url = 'http://localhost:3000/api/locations/23?json=locationInfo'; 
        $.getJSON(url)
        .done(function(data) {
          console.log(data);
        })
        .fail(function(err) {
          console.log(err);
        });
      });
    });
