extends layout

block content
  ///h1= title
  ///p Welcome to #{title}
  .topbar
    .topbar-inner
      .title-bar
        .logo
          img.logo(src="/images/america_for_animals_60x60.png")
          h1.name Humane Eating 
        .navigation
          .pills-holder
            .pills
              li: a(href="#") Install
              li: a(href="#") Tools
  .container
    .page-content
      sidebar
        p Content...
      article
        p Content...
    footer
      p Content...
