extends layout

block content
  ///h1= title
  ///p Welcome to #{title}
  script.
    require(['javascripts/home'], function (home) {
      //new home.SiteView({ model: home.site }).render();
      var title_m = new home.TitleModel({title: 'Humane Eateries'});
      var title_v = new home.TitleView({
        model: title_m, 
        el: '#title'});
      var img_m = new home.ImageModel({
        src: '/images/america_for_animals_60x60.png',
        caption: 'America For Animals logo',
        hidden: false
      });
      var img_v = new home.ImageView({
        model: img_m,
        el: '#logo'
      });
    });
  #main
  .topbar
    .topbar-inner
      .title-bar
        .empty.fixed
        .title-header
          .brand.float
            #logo
              img(src="/images/america_for_animals_60x60.png", alt="America for Animals logo")
            h1#title Humane Eating 
          .navigation.float#navbar
            .pills-holder
              .pills
                li.float: a(href="#") Install
                li.float: a(href="#") Tools
        .empty.fixed
  .container
    .page-content
      sidebar
        p Sidebar Content...
      article
        p Article Content...
    footer
      p#myfooter Footer Content...
