extends layout

block content
  h1= title
  p Welcome to #{title}
  #examplepage
    header
      h1 Content...
    section#content
      sidebar
        p Content...
      article
        p Content...
    footer
      p Content...
