doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jam/require.js')
    script.
      // Hide browser address bar
      window.addEventListener('load', function() {
        setTimeout(function() {
          window.scrollTo(0, 0);
        }, 0);
      });
  body
    block content
