doctype 5
html
  head
    title= title
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", size="144x144", href="/images/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", size="114x114", href="/images/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", size="72x72", href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
    link(rel='stylesheet', href="/stylesheets/style.css")
    script(type="text/javascript", src="/javascripts/jam/require.js")
    script(type="text/javascript").
      // Hide browser address bar on mobiles when in portrait mode
      function hide_address_bar() {
        if (window.orientation === 0) {
            window.scrollTo(0, 0);
        }
      }
      if ((navigator.userAgent.match(/iPhone/i)) || 
        (navigator.userAgent.match(/iPod/i))) {
        window.addEventListener('orientationchange', hide_address_bar, false);
        window.addEventListener('load', hide_address_bar);
      }
  body
    block content
