adjustmargins(n)
  -webkit-margin-before n
  -webkit-margin-after n

.centered
  text-align center

.hidden
  display none

.no-decoration
  text-decoration none
  color currentColor 

.horizontal-padding
  padding 5

.stretch
  left 0
  top 0
  width 100%
  height 100%
  margin 0
  padding 0

.border-box
  border 1px solid transparent
  border-radius 2px
  padding 4px 4px 4px 4px
