@import "gradient"
@import "flexbox"
@import "misc"

html
  @extend .stretch

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  @extend .stretch

a
  color: #00B7FF

.topbar
  width 100%
  @extend .flexbox
  @extend .flexrow
  @extend .flexstretch
  @extend .green-gradient

.contents
  width 100%
  @extend .flexbox
  @extend .flexrow
  @extend .flexstretch

.search-bar
  @extend .flexbox
  @extend .flexrow
  @extend .flexleft

.brand
  @extend .flexbox
  @extend .flexrow
  @extend .flexcenter

.list-bar
  @extend .flexbox
  @extend .flexrow
  @extend .flexright

.navigation
  list-style-type none
  @extend .horizontal-padding

.nav-element
  @extend .no-decoration
  @extend .border-box
  @extend .green-gradient
  font-weight bold

.search
  @extend .nav-element
  margin-left 4px

.list
  @extend .nav-element
  margin-right 4px

.container
  @extend .stretch

.map
  @extend .stretch

@import "media"
